
@media screen and (min-width: 600px) {
    body { background-color: white;
        font-family: "Joti One", "Ubuntu";
        font-size: 1rem;
        font-size: 1rem;
        }
    
    
    header {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 2rem;
        
        background-color: navy;
        color: white;
    }

    h1, h2{
        font-family: joti One;
        text-align: center;
        font-size: 3rem;
    }
    
    p{
        font-family: ubuntu;
        text-align: center;
    }
           
    
    nav{
        
        background-color: white;
        
        margin: 0; 
        justify-content: center;
        
        
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        
        list-style: none;

    }
    nav ul li a{
        color: black;
        
    }
    nav a:hover {
        background-color: skyblue;
    }


    main {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 1rem;
    }

    footer{
        text-align: center;
        font-size: 2rem;
        background-color: navy;
        color: white;
        height: auto;
       
    }

    
    .hamburger {
        display: none;
    }


    header, main, footer, nav{
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
    }

    .gallery picture {
        display: block;
    }

    .ariaria{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .enyimba {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .star{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .nbl{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .textiles{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .divine{
        grid-column: 2/3;
        grid-row: 3/4;

    }

    img{
        width: 100%;
        height: auto;
    }

    header img{
        width: 150px;
        height: 100%;
    }

    .gallery:hover img{
        background-color: skyblue;
        transition: transform 0.5s ease, opacity 0.5s ease;
      
    }

    
}