@media screen and (max-width: 600px) {
    
    body { background-color: white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem;
        }
        
    

body {
    font-family: 'Roboto', sans-serif;

}

header,nav, main, footer {
    max-width:  640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: #fff;
}

header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 2rem;
    max-width: 600px;
    background-color: navy;
    color: white;
}

   
img{
    margin-right: 30px;
}

nav{
    
    background-color: black;
    max-width: 600px;
    margin: 0;
    justify-content: center;
    
    
}


nav .active{
    background-color: goldenrod;
    color: black;
    
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    color:white;

}
nav ul{
    list-style-type: none;
    
    justify-content: space-around;
    background-color: black;

}
div{
    display: grid;
    grid-template-columns: 2fr 1fr;
     
    
}
h1{
    text-align: center;
}
.card{
    border-radius: 3px;
    header{
    
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px;
    font-size: 2rem;
    max-width: 600px;
    background-color:  navy;
    margin: 0 auto;
    color: white;
    
}
img{
    margin-right: 30px;
}

body{
    font-size: 1rem;
}


nav{
    
    background-color: black;
    max-width: 600px;
   
    justify-content: center;
    
    
}


nav .active{
    background-color: goldenrod;
    
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    color:white;

}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}
div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 10px;
    
    
}
h1{
    text-align: center;
}

}

main ul{
    list-style-type: none;
}
footer{
    text-align: center;
    font-size: 2rem;
    background-color: navy;
    color: white;
    
    
    max-width: 600px;
}
h2{
    background-color: navy;
    text-align: center;
    color: white;
}
    

main ul{
    list-style-type: none;
}
footer{
    text-align: center;
    font-size: 2rem;
    background-color: navy;
    color: white;
    
    
    max-width: 600px;
}
h2{
    background-color: navy;
    text-align: center;
    color: white;
}
.card section {
    border: 2px solid black; 
    padding: 10px; 
    margin: 10px; 
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.card section p{
    text-align: center;
}
#sect1{
    grid-row: 1/2;
}
#sect2{
    grid-row: 2/3;
}
}